
/*GENERAL*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyDiv{
  height: 100%;
}

.appBody{
  display: flex;
  height: 100vh;
}

.light-body {
  background: #faf9fc;
}
.dark-body {
  background: #1e2738;
}

/*CHAT*/
.topBorder {
  border-top: solid 1px #afb0b4;
  width: 300px;
}

.chatsMenu{
  height: 100vh;
  width: 650px;

  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
  padding-left: 20px;

  background: transparent;
}

.chatElement{
  width: 450px;
  height: 75px;

  margin: 15px;
  padding-left: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: 7px;
}
.chatElement.light{
  background: #fff;
  color: #000;
}
.chatElement.dark{
  background: #3E6CB7;
  color: #ebebeb;
}

.chatElement:hover{
  cursor: pointer;
}

.box-shadow {
  box-shadow: rgba(119, 120, 126, 0.28) 0px 0px 7px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box-shadow:hover {
  box-shadow: rgba(133, 139, 210, 0.8) 1px 1px 7px;
}

.chatImage{
  margin-right: 15px;
}

.chatWindow{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.chatPageContainer{
  display: flex;
}

.messageBlock{
  margin-left: 200px;
  width: 100%;
  padding-bottom: 50px;
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.activeChat{
  position: relative;
  max-height: 850px;
}

.inputBox{
  position: absolute;
  bottom: 15px;
  left: 100px;
}

.textInput{
  width: 700px;
  height: 40px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(119, 120, 126, 0.28) 0px 0px 7px;
  font-size: 15px;
  padding: 0 15px;
}

.sendButton{
  position: absolute;
  bottom: 25px;
  right: 150px;
}

.messageContainer{
  margin-top: 30px;
  background: #eeecf0;
  width: 700px;
  border-radius: 15px;
  min-height: 90px;
  padding: 5px 30px;
}

.myMessage{
  background: #317ef6;
  color: #fff;
}

/*FORMS*/
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.formInput{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(119, 120, 126, 0.28) 0px 0px 7px;
  font-size: 15px;
  padding: 0 15px;
  margin: 10px;
}

.submitButton{
  background: #317ef6;
  border-radius: 12px;
  width: 330px;
  height: 40px;
  color: #fff;
  border: none;
  margin-top: 10px;
  box-shadow: rgba(49, 126, 246, 0.5) 0px 0px 7px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.submitButton:hover{
  cursor: pointer;
  box-shadow: rgba(49, 126, 246, 0.8) 1px 1px 7px;
}

.smallButton{
  border: none;
  border-radius: 12px;
  margin: 0 10px;
  width: 100px;
  height: 20px;
  color: #fff;
  background: #76A8F9;
  box-shadow: rgba(118, 168, 249, 0.5) 0px 0px 7px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.smallButton:hover{
  box-shadow: rgba(118, 168, 249, 0.8) 1px 1px 7px;
}

/*NAVBAR*/
.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  z-index: 2;
}

.navbar.light{
  background: #d9d5f1;
}

.navbar.dark{
  background: #405477;
}

.menuLink{
  text-decoration: none;
  margin: 20px 0;
  font-weight: 400;
}
.menuLink.light{
  color: #3c4666;
}
.menuLink.dark{
  color: #ebebeb;
}

.menu-active{
  text-decoration: none;
  margin: 20px 0;
  font-weight: 600;
}
.menu-active.light{
  color: #3c4666;
}
.menu-active.dark{
  color: #ebebeb;
}

.menuHeader{
  font-weight: 300;
}
.menuHeader.light{
  color: #323c5e;
}
.menuHeader.dark{
  color: #ebebeb;
}

/*SETTINGS*/
.toggle {
    margin: auto;
    transform: scale(4);
}

#toggle {
    display:none;
}

.toggle label {
    width: 45px;
    height: 20px;
    display: inline-block;
    border-radius: 40px;
    border: 2px solid #fff;
    cursor: pointer;
    background: #1e2738;
    transition: background .15s;
}

.toggle .slide {
    width: 20px;
    height: 20px;
    background: #76A8F9;
    border-radius: 50%;
    transform: scale(.9);
    transition: all .15s;
    box-shadow: inset -3px 0 0 #3B83F7;
}


#toggle:checked ~ label {
    background: #faf9fc;
}

#toggle:checked ~ label .slide {
    transform: translateX(25px) scale(.9);
    box-shadow: inset 3px 0 0 #ddd;
}